{% extends "base.html" %}
{% block title %}Options Visualizer App{% endblock %}
{% block content %}

<!-- OPTIONS CHAIN (Modal Dialog) -->
<dialog id="optionsChainModal" style="min-width: 800px" >
    <div class="border">
        <div class="row ml-3">
<!--
            <div class="col-auto text-center">
                <button id="getOptionsChain" class="btn btn-primary">Load Options Chain</button>
            </div>
-->
        </div>
        <div class="row ml-3 pt-3">
            <div class="col-auto">
                <h4 id="stratSel">Expiration Dates:</h4>
            </div>
            <div class="col-3">
                <select class="form-control"  id='expirationDates' name='expirationDates' >
                </select>
            </div>
            <div class="col-4" id = "callOrPutToggle"></div>
        </div>
        <!-- OPTIONS CHAIN TABLE -->
        <div class="row py-2 col-6 ml-3 justify-content-center">
            <table id="callsOptionsChain" class="table info-text display compact cell-border">
                <thead>
                    <tr>
                        <th class=noPadding4>STRIKE</th>
                        <th class=noPadding4>PREMIUM</th>
                        <th class=noPadding4>DELTA</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="row ml-4 pb-3">
            <button tabindex="1" type="button" class="btn btn-primary" name="closeButton" id="closeButton">Close</button>
        </div>
    </div>
</dialog>

<div class="header-block text-center text-md-left w-100">
    <div class="container">
        <h2 class="header-text header-text-margin-no-left text-center">Options Visualizer</h2>
    </div>
</div>

<div class="container-fluid">
    <div class="container">  
        <!-- Get Ticker and Underlying Price --> 
        <div class="row py-2 pt-3">
            <div class="col-2">
                <h4>Ticker Symbol:</h4>
            </div>
            <div class="col-2">
                <input class="form-control" id="tickerSymbol" placeholder="Ticker Symbol">
            </div>
            <div class="col-1">
                <button id="getPrice" class="btn btn-primary">Go</button>
            </div>
            <div class="col-auto">
                <h4 id="price">Price:</h4>
            </div>
            <div class="col-2">
                <h4 id="priceVal" class="not-bold">0.00</h4>
            </div>
        </div> <!--row-->
        <!--  Get Strategy -->
        <div class="row py-2">
            <div class="col-2">
                <h4>Strategy:</h4>
            </div>
            <div class="col-auto">
                <select class="form-control"  id='strategyList' name='strategyList' >
                </select>
            </div>
            <div class="col-6">
                <textarea class="form-control" id="strategyTextArea" rows="2"></textarea>
              </div>
        </div> <!--row-->
        <!--  Legs Dyanmically Created-->
        <div id="legsDiv"></div>
        <!-- CHART -->
        <div class="container mt-4">
            <div class="card" id="myChartContainer" style="display: none;">
                <div class="card-header">
                    PNL CHART
                </div>
                <div class="card-body" style="height: 400px;">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
        <!-- Future Profit Chart -->
        <div style="max-height: 400px; max-width:3000px; overflow: scroll;">
            <canvas id="myCanvas"
                style="border: 1px solid lightgray"
                width="3000" height="800">
            </canvas>
        </div>
        <!--  Get Action Buttons Row 1 -->
        <div class="row py-2">
            <div class="col-3">
                <button id="showPNL" class="btn btn-success" disabled>PNL Chart</button>
            </div>
            <div class="col-3">
                <button id="showProfit" class="btn btn-success" disabled>Future Profit Chart</button>
            </div>
        </div> <!--row-->
        <!--  Get Action Buttons Row 2 -->
        <div class="row py-2">
            <div class="col-3">
                <button id="saveTrade" class="btn btn-success" disabled>Save Trade</button>
            </div>
            <div class="col-3">
                <button id="loadTrade" class="btn btn-success">Load Trade</button>
            </div>
        </div> <!--row-->
        <!--  Get Action Buttons Row 3 -->
        <div class="row py-2">
            <div class="col-3">
                <button id="clearAll" class="btn btn-danger">Clear ALL</button>
            </div>
        </div> <!--row-->

    </div> <!--container-->
</div>

{% endblock %}


{% block extra_js %}

{% endblock %}
